/* -------------- HOME START -------------- */

#homeSection {

    text-align: center;

    background-position: center;
    background: no-repeat;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #logoBigContainer {
    margin: auto;
    padding: 11rem 0 4rem 0;
  }

  #logoBig {
    /* position: absolute; */
    margin: auto;
    padding: 13rem 0 4rem 0;
    height: 30rem;
    width: 30rem;
    /* border: 2px pink dashed; */

    animation-delay: 1s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transition: color .5s;
    transition-timing-function: ease-in;
    transition: background-color .5s;
    transition-timing-function: ease-out;
  }
