#logoBigContainer hr {
    /* visibility: hidden; */
    width: 70%;
    margin: auto;
    border: solid 1px black;
  }

  /* <<< START AUDIO CONTAINER >>>> */

  #audioContainer {
    margin-top: 0 auto 1rem auto;
    padding: 0rem 0rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Livvic', sans-serif;
    /* border: 2px orange dotted; */

    animation-delay: 2s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transition: color 1s;
    transition-timing-function: ease-in;
    transition: background-color 1s;
    transition-timing-function: ease-out;
  }

  #audioContainer h2 {
    font-size: 1.15rem;
    margin-bottom: .5rem;

    border-radius: 25px;
    /* width: 14rem; */
    text-align: center;
    font-weight: normal;
  }

  #audioContainer audio {
    width: 40rem;
    height: 2rem;
    border-radius: 25px;
    margin-bottom: 0rem;
  }

  #audioContainer a {
    border-radius: 20px;
    font-family: 'Livvic', sans-serif;
    font-size: .8rem;
    color: black;
    margin-top: .5rem;
    padding: .25rem 1rem .25rem 1rem;
    text-align: center;

    transition: color .5s;
    transition-timing-function: ease-in;
    transition: background-color .5s;
    transition-timing-function: ease-out;
    /* border: 2px blue dashed; */
  }

  #audioContainer a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
  }

  /* <<<< END AUDIO CONTAINER >>>> */
