@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
      --livvic-thin {
        font-family: "Livvic", sans-serif;
        font-weight: 100;
        font-style: normal;
      }

      --livvic-extralight {
        font-family: "Livvic", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

      --livvic-light {
        font-family: "Livvic", sans-serif;
        font-weight: 300;
        font-style: normal;
      }

      --livvic-regular {
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      --livvic-medium {
        font-family: "Livvic", sans-serif;
        font-weight: 500;
        font-style: normal;
      }

      --livvic-semibold {
        font-family: "Livvic", sans-serif;
        font-weight: 600;
        font-style: normal;
      }

      --livvic-bold {
        font-family: "Livvic", sans-serif;
        font-weight: 700;
        font-style: normal;
      }

      --livvic-black {
        font-family: "Livvic", sans-serif;
        font-weight: 900;
        font-style: normal;
      }

      --livvic-thin-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 100;
        font-style: italic;
      }

      --livvic-extralight-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 200;
        font-style: italic;
      }

      --livvic-light-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 300;
        font-style: italic;
      }

      --livvic-regular-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 400;
        font-style: italic;
      }

      --livvic-medium-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 500;
        font-style: italic;
      }

      --livvic-semibold-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 600;
        font-style: italic;
      }

      --livvic-bold-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 700;
        font-style: italic;
      }

      --livvic-black-italic {
        font-family: "Livvic", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
    }

* {
      margin: 0;
      padding: 0;
  }

body {
  background-color: white;



}

h1 {
  visibility: hidden;
  position: absolute;
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: 'Livvic', sans-serif;
  font-weight: 600;
  font-size: 2em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: .20em;
  text-align: center;
  padding-top: 1rem;
  /* border: purple 3px solid; */
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}



/* ============== HEADER START ============= */

header {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem auto 0 auto;
  position: fixed;
  width: 100%;
  z-index: 3;
  white-space: nowrap;

  backdrop-filter: blur(10px);
  /* border: 2px blue dotted; */
}



#navContainer {
  background-color: rgba(255, 255, 255, 65%);
  backdrop-filter: blur(10px);

  padding: 0 2rem 0 1rem;
  /* margin-left: 8rem; */


  /* animation-delay: 1s;
  animation: fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition: color .5s;
  transition-timing-function: ease-in;
  transition: background-color .5s;
  transition-timing-function: ease-out; */
}

/* <<<<<<<<<<<  START PAGE NAV >>>>>>>>>>>>> */

#pageNav {
  display: inline;
  padding-left: 1rem;
}

#pageNav a {
  font-size: 1.5rem;
  width: 1.5rem;
  padding: .25rem 1rem .25rem 1rem;

  font-family: 'Livvic', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  background-color: none;
  border-radius: 5px;
  color: black;

  animation-delay: .15s;
  animation: fadeInAnimation ease .15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition: color .25s;
  transition-timing-function: ease-in;
  transition: background-color 1s;
  transition-timing-function: ease-out;
}

#pageNav a:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

/* <<<<<<<<<<<<< END PAGE NAV >>>>>>>>>>>>> */


/* <<<<<<<<<<< START SOCIAL NAV >>>>>>>>> */

#socialNav {
  display: inline;
  padding-left: 1rem;
}

#socialNav .fa {
  font-size: 1.5rem;
  width: 1.5rem;
  padding: 1rem;

  text-align: center;
  text-decoration: none;
  background-color: none;
  color: black;

  animation-delay: .25s;
  animation: fadeInAnimation ease .25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  transition: color 1.25s;
  transition-timing-function: ease-in;
  transition: background-color 1s;
  transition-timing-function: ease-out;
}

#socialNav .fa:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
/* <<<<<<<<<<< END SOCIAL NAV >>>>>>>>>>>> */



/* ============== MAIN START ============= */

main {
  /* display: inline-flex; */
  /* border: 2px black solid; */
}
