/* -------------- HOME START -------------- */

#expositionSection {
    margin: auto;
    background-image: url("../../graphics/aaabstract\ copy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 1000px;
    /* display: flex;
    align-items: center;
    justify-content: center; */


    animation-delay: 6s;
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  #logoSmallExpo {
    z-index: 10;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    padding: 1rem;
    top: 0;
    display: inline;
    height: 5rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 65%);
    backdrop-filter: blur(30px);

    border: 2px pink dashed;
  }

 #anythingGoes {
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 4rem;

    animation-delay: 10s;
    animation: fadeInAnimation ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }

 #textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;

 }

 /* <<< FOOTER START >>>> */

 #homeFooter {
    width: 100%;
    height: 300px;
    background-color: black;
 }

 /* <<< START AUDIO CONTAINER >>>> */

 #audioContainer {
    margin-top: 0 auto 0 auto;
    padding: .5rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    font-family: 'Livvic', sans-serif;

    animation-delay: 2s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transition: color 1s;
    transition-timing-function: ease-in;
    transition: background-color 1s;
    transition-timing-function: ease-out;
  }

  #audioContainerH2 {
    margin-bottom: .5rem;

    font-size: 3rem;
    text-align: center;
    font-weight: normal;
    color: white;
    background-color: black;

  }

  #audioContainer audio {
    width: 40rem;
    height: 4rem;
    border-radius: 25px;
    margin-bottom: 0rem;
  }

  #audioContainer a {
    border-radius: 20px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: .5rem;

    text-align: center;

    transition: color .5s;
    transition-timing-function: ease-in;
    transition: background-color .5s;
    transition-timing-function: ease-out;
    /* border: 2px blue dashed; */
  }

  #audioContainer a:hover {
    background-color: white;
    color: black;
  }

  /* <<<< END AUDIO CONTAINER >>>> */
