/* -------------- HOME START -------------- */

#homeSection {

    text-align: center;

    background-position: center;
    background: no-repeat;
    background: #8a04f7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #logoBigContainer {
    margin: auto;
    padding: 8rem 0 4rem 0;
  }

  #logoBig {
    /* position: absolute; */
    margin: auto;
    padding: 10rem 0 10rem 0;
    height: 30rem;
    width: 30rem;
    /* border: 2px pink dashed; */

    animation-delay: 1s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    transition: color .5s;
    transition-timing-function: ease-in;
    transition: background-color .5s;
    transition-timing-function: ease-out;
  }

#blender {
    position: absolute;
    bottom: 21rem;
    width: 100%;
    height: 50px;
    z-index: 2;

    backdrop-filter: blur(5px);
    border: 2px blue dotted;
  }

  #logoSmallExpo {

    position: -webkit-sticky; /*Safari*/
    position: sticky;
    padding: 1rem;
    top: -0;
    display: inline;
    height: 5rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 65%);
    backdrop-filter: blur(30px);

    z-index: 3;
    /* border: 2px pink dashed; */
  }
